<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Welcome To Sláinte</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<div class="header">
  <p class="subTitle">Sign up to create an account</p>
</div>

<div class="signinLink">
  <p>Already a member? <a [routerLink]="['/login']">Sign In Now</a></p>
</div>
<form [formGroup]="regForm">
  <div class="ion-padding">
    <ion-item>
      <ion-input formControlName="firstName" placeholder="First Name" class="input"></ion-input>
        <ion-icon name="person-outline"></ion-icon>
    </ion-item>
    <div *ngIf="this.regForm.controls?.['firstName'].touched && this.regForm.controls?.['firstName'].invalid">
      <ion-text>
        First name is required
      </ion-text>
    </div>

    <ion-item>
      <ion-input formControlName="lastName" placeholder="Last Name" class="input"></ion-input>
        <ion-icon name="person-outline"></ion-icon>
    </ion-item>
    <div *ngIf="this.regForm.controls?.['lastName'].touched && this.regForm.controls?.['lastName'].invalid">
      <ion-text>
        Last name is required
      </ion-text>
    </div>

    <ion-item>
      <ion-input formControlName="email" placeholder="Email" class="input"></ion-input>
        <ion-icon name="mail-outline"></ion-icon>
    </ion-item>
    <div *ngIf="this.regForm.controls?.['email'].touched && this.regForm.controls?.['email'].invalid">

        <ion-text>
        Email is required
      </ion-text>

        <ion-text>
        Email should be valid
      </ion-text>
    </div>

    <ion-item>
      <ion-input formControlName="password" placeholder="Password" class="input"></ion-input>
        <ion-icon name="lock-closed-outline"></ion-icon>
    </ion-item>
    <div *ngIf="this.regForm.controls?.['password'].touched && this.regForm.controls?.['password'].invalid">

      <ion-text>
        Password is required
      </ion-text>

      <ion-text>
        Password must have at least 8 characters with 
        One capital letter, 
        One special symbol 
        and at least one number
      </ion-text>
    </div>

    <ion-item>
      <ion-input formControlName="userBio" placeholder="Add a bio..." class="input"></ion-input>
        <ion-icon name="create-outline"></ion-icon>
    </ion-item>

    <ion-item>
      <!-- Code to add image capture -->
      <ion-label position="stacked">Upload a Profile Picture</ion-label>
      <div class="image-upload" (click)="addImage()" tappable>
        <p class="upload-text" *ngIf="!capturedImage && !updateImage">
          <ion-icon name="camera" class="camera-icon"></ion-icon>
        </p>
        <ion-avatar *ngIf="capturedImage && !updateImage">
          <img [src]="capturedImage">
        </ion-avatar>
      </div>
    </ion-item>

    <!-- Interest Selection -->
    <h3>Select Your Interests</h3>

    <div class="category">
      <h5>Atmosphere</h5>
      <ion-chip
        *ngFor="let option of atmosphereOptions"
        [color]="regForm.controls[option.controlName].value ? 'primary' : ''"
        (click)="toggleChip(option.controlName)">
        {{ option.label }}
        <ion-icon *ngIf="regForm.controls[option.controlName].value" name="checkmark"></ion-icon>
      </ion-chip>
    </div>

    <div class="category">
      <h5>Drinks</h5>
      <ion-chip
        *ngFor="let option of drinksOptions"
        [color]="regForm.controls[option.controlName].value ? 'primary' : ''"
        (click)="toggleChip(option.controlName)">
        {{ option.label }}
        <ion-icon *ngIf="regForm.controls[option.controlName].value" name="checkmark"></ion-icon>
      </ion-chip>
    </div>

    <div class="category">
      <h5>Music</h5>
      <ion-chip
        *ngFor="let option of musicOptions"
        [color]="regForm.controls[option.controlName].value ? 'primary' : ''"
        (click)="toggleChip(option.controlName)">
        {{ option.label }}
        <ion-icon *ngIf="regForm.controls[option.controlName].value" name="checkmark"></ion-icon>
      </ion-chip>
    </div>

    <div class="category">
      <h5>Amenities</h5>
      <ion-chip
        *ngFor="let option of amenitiesOptions"
        [color]="regForm.controls[option.controlName].value ? 'primary' : ''"
        (click)="toggleChip(option.controlName)">
        {{ option.label }}
        <ion-icon *ngIf="regForm.controls[option.controlName].value" name="checkmark"></ion-icon>
      </ion-chip>
    </div>

    <div class="category">
      <h5>Entertainment</h5>
      <ion-chip
        *ngFor="let option of entertainmentOptions"
        [color]="regForm.controls[option.controlName].value ? 'primary' : ''"
        (click)="toggleChip(option.controlName)">
        {{ option.label }}
        <ion-icon *ngIf="regForm.controls[option.controlName].value" name="checkmark"></ion-icon>
      </ion-chip>
    </div>
  </div>

  <!-- Next Button -->
  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button class="next-button" (click)="signUp()">
      <ion-icon name="chevron-forward"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</form>
</ion-content>

