.header{
        text-align: center;
        .subTitle{
            color: gray;
            font-size: 0.9rem;
        }
        .title{
            font-size: 2rem;
        }
    }
    
.signinLink {
        display: flex;
        margin: auto;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        left: 0;
        bottom: 0;
        width: 80%;
        right:0;
    
        p{
            font-size: 0.9rem;
        }
        a{
            text-decoration: none;
        }
    }

.image-upload {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    
    ion-avatar {
        width: 100px; // Set the desired width
        height: 100px; // Set the desired height
        margin: 10px 0; // Optional: add margin as needed
      }
 }

 ion-segment {
    padding: 16px; /* You can adjust the value as needed */
    margin: 16px; /* Optional: add margin for spacing around the segment */
  }

  .button {
    color: white;
  }

  .button-container {
    display: flex;
    justify-content: space-between; /* Space out the logo and icon */
    padding-right: 15px;
    padding-left: 15px;
  }

  
  

  


  

 
    
