.input {
    font-size: 300;
    color: black;
    }
    
    ion-item{
        --background:#f1f1f1;
        border-radius: 10 px;
        margin-bottom: 16px;
    }
    
.header{
        text-align: center;
        .subTitle{
            color: gray;
            font-size: 0.9rem;
        }
        .title{
            font-size: 2rem;
        }
    }
    
.signinLink {
        display: flex;
        margin: auto;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        left: 0;
        bottom: 0;
        width: 80%;
        right:0;
    
        p{
            font-size: 0.9rem;
        }
        a{
            text-decoration: none;
        }
    }

    .next-button {
        position: fixed;
        bottom: 30px;
        right: 16px
    }

.image-upload {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    
    ion-avatar {
        width: 100px; // Set the desired width
        height: 100px; // Set the desired height
        margin: 10px 0; // Optional: add margin as needed
      }
 }

 ion-segment {
    padding: 16px; /* You can adjust the value as needed */
    margin: 16px; /* Optional: add margin for spacing around the segment */
  }
  

//  .atmosphere-category {
//     color: #F0F371;
//  }

 .atmosphere-check {
    color: #F0F371;
 }

//  .drinks-category {
//     color: #D96ACE;
//  }

 .drinks-check {
    color: #D96ACE;
 }

//  .entertainment-category {
//     color: #7F48AC;
//  }

  .entertainment-check {
    color: #7F48AC;
 }

//  .amenities-category {
//     color: #84BC7B;
//  }

  .amenities-check {
    color: #84BC7B;
 }

//  .music-category {
//     color: #5CA5ED;
//  }

 .music-check {
    color: #5CA5ED;
 }

  


  

 
    
