<ion-header>
  <ion-toolbar>
    <ion-title>What's the Vibe?</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="applyFilters()">Apply</ion-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-button (click)="dismissModal()">Cancel</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Atmosphere -->
  <ion-item>
    <ion-select [(ngModel)]="selectedAtmospheres" label="Atmosphere" placeholder="Select" multiple="true">
      <ion-select-option value="alternative">Alternative</ion-select-option>
      <ion-select-option value="casual">Casual</ion-select-option>
      <ion-select-option value="cosy">Cosy</ion-select-option>
      <ion-select-option value="energetic">Energetic</ion-select-option>
      <ion-select-option value="fancy">Fancy</ion-select-option>
      <ion-select-option value="lgbtq">LGBTQ+</ion-select-option>
      <ion-select-option value="loud">Loud</ion-select-option>
      <ion-select-option value="relaxed">Relaxed</ion-select-option>
      <ion-select-option value="traditional">Traditional</ion-select-option>
    </ion-select>
  </ion-item>

  <!-- Drinks -->
  <ion-item>
    <ion-select [(ngModel)]="selectedDrinks" label="Drinks" placeholder="Select" multiple="true">
      <ion-select-option value="cocktails">Cocktails</ion-select-option>
      <ion-select-option value="gin">Gin</ion-select-option>
      <ion-select-option value="goodGuinness">Good Guinness</ion-select-option>
      <ion-select-option value="nonAlcoholic">Non-Alcoholic</ion-select-option>
      <ion-select-option value="pints">Pints</ion-select-option>
      <ion-select-option value="whiskey">Whiskey</ion-select-option>
      <ion-select-option value="wine">Wine</ion-select-option>
    </ion-select>
  </ion-item>

  <!-- Music -->
  <ion-item>
    <ion-select [(ngModel)]="selectedMusic" label="Music" placeholder="Select" multiple="true">
      <ion-select-option value="hipHop">Hip-Hop</ion-select-option>
      <ion-select-option value="house">House</ion-select-option>
      <ion-select-option value="indie">Indie</ion-select-option>
      <ion-select-option value="jazz">Jazz</ion-select-option>
      <ion-select-option value="pop">Pop</ion-select-option>
      <ion-select-option value="rNb">R&B</ion-select-option>
      <ion-select-option value="reggaeton">Reggaeton</ion-select-option>
      <ion-select-option value="rock">Rock</ion-select-option>
      <ion-select-option value="techno">Techno</ion-select-option>
      <ion-select-option value="trad">Trad</ion-select-option>
    </ion-select>
  </ion-item>

  <!-- Amenities -->
  <ion-item>
    <ion-select [(ngModel)]="selectedAmenities" label="Amenities" placeholder="Select" multiple="true">
      <ion-select-option value="accessible">Accessible</ion-select-option>
      <ion-select-option value="beerGarden">Beer Garden</ion-select-option>
      <ion-select-option value="cloakRoom">Cloak Room</ion-select-option>
      <ion-select-option value="danceFloor">Dance Floor</ion-select-option>
      <ion-select-option value="outdoorSeats">Outdoor Seats</ion-select-option>
      <ion-select-option value="smokingArea">Smoking Area</ion-select-option>
    </ion-select>
  </ion-item>

  <!-- Entertainment -->
  <ion-item>
    <ion-select [(ngModel)]="selectedEntertainment" label="Entertainment" placeholder="Select" multiple="true">
      <ion-select-option value="comedy">Comedy</ion-select-option>
      <ion-select-option value="dJ">DJ</ion-select-option>
      <ion-select-option value="festival">Festival</ion-select-option>
      <ion-select-option value="games">Games</ion-select-option>
      <ion-select-option value="karaoke">Karaoke</ion-select-option>
      <ion-select-option value="liveGigs">Live Gigs</ion-select-option>
      <ion-select-option value="openMic">Open Mic</ion-select-option>
      <ion-select-option value="pubQuiz">Pub Quiz</ion-select-option>
      <ion-select-option value="raves">Raves</ion-select-option>
      <ion-select-option value="specialisedEvents">Specialised Events</ion-select-option>
      <ion-select-option value="sports">Sports</ion-select-option>
    </ion-select>
  </ion-item>

</ion-content>
