.input {
    font-size: 300;
    }
    
    ion-item{
        --background:#f1f1f1;
        color:black;
        border-radius: 10 px;
        margin-bottom: 16px;
    }
    
.header{
        margin-top: 100px;
        margin-bottom: 80px;
        text-align: center;
        .subTitle{
            color: gray;
            font-size: 0.9rem;
        }
        .title{
            font-size: 2rem;
        }
    }

.reset-password-container{
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1 px solid #ccc;
    border-radius: 5px;
}

.form-group {
    margin-bottom: 15px;
  }
  
.alert {
    margin-top: 20px;
  }

.btn {
    color: white;
}