<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Reset Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
<div class="reset-password-container">
<form (ngSubmit)="resetPassword()">
  <div class="form-group">
    <ion-label for="email">Email Address:</ion-label>
    <ion-input type="email" id="email" [(ngModel)]="email" name="email" required class="form-control" placeholder="Enter your email address"/>
  </div>
  <ion-button shape="round" type="submit" class="btn">Send Reset Link</ion-button>
</form>

<div *ngIf="message" class="alert alert-success mt-3">
  {{ message }}
</div>

<div *ngIf="errorMessage" class="alert alert-danger mt-3">
  {{ errorMessage }}
</div>
</div>

</ion-content>
