<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Reset Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<div class="header">
  <ion-title class="title">Enter Your Email</ion-title>
  <p class="subTitle">To receive a reset password link</p>
</div>
<div class="ion-padding">
  <ion-item>
    <ion-input class="input" placeholder="Enter your email" class="input"></ion-input>
      <ion-icon name="person-outline"></ion-icon>
  </ion-item>
  </div>
  <ion-fab vertical="bottom" horizontal="end" style="margin-bottom: 30px">
    <ion-fab-button [routerLink]="['/login']">
      <ion-icon name="chevron-forward"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
