.icon {
    font-size: 24px; 
    vertical-align: middle; 
    padding-right: 5px;
    padding-bottom: 8px;
  }

  #buttons {
    display: flex;               /* Use flexbox layout */
    justify-content: center;     /* Center items horizontally */
    align-items: center;  
    padding-bottom: 10px;       /* Center items vertically (optional) */
  }
  
  ion-button {
    margin: 0 10px;            /* Add some space between the buttons */
  }

  .rating-badge {
    align-items: center;
    padding: 5px 10px;  /* Add some padding for a better look */
    font-size: 16px;    /* Adjust font size */
    line-height: 1;     /* Ensures the icon and text align properly */
    border-radius: 12px;  /* Round the badge for better aesthetics */
  }
  
  .rating-icon {
    margin-right: 5px;   /* Space between icon and rating text */
    font-size: 18px;     /* Adjust icon size */
  }