<ion-header>
  <ion-toolbar>
    <ion-title>Venue Details</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card *ngIf="apiVenue" class="venue-card">
          <div *ngIf="apiVenue.photos && apiVenue.photos.length > 0">
            <img *ngFor="let photo of apiVenue.photos.slice(0, 1)" [src]="photo.photoUrl" alt="{{ apiVenue.name }}">
          </div>
          <ion-card-header>
            <div class="card-header-container">
              <ion-card-title> {{apiVenue.name}} </ion-card-title>
              <div class="icons-container">
                <!-- <ion-icon name="bookmark-outline" class="icon"></ion-icon> -->
                <ion-icon name="logo-google" class="icon"></ion-icon>
              </div>
            </div>
          </ion-card-header>
          <ion-card-content>
            <p class="open-now" *ngIf="apiVenue.current_opening_hours?.open_now">Open Now</p>
            <p class="closed-now" *ngIf="!apiVenue.current_opening_hours?.open_now">Closed Now</p>
            <div *ngIf="apiVenue?.formatted_address">
              <ion-icon name="location-outline" class="icons"></ion-icon>
              <span>{{ apiVenue?.formatted_address }}</span>
            </div>
            
            <div *ngIf="apiVenue?.formatted_phone_number">
              <ion-icon name="call-outline" class="icons"></ion-icon>
              <span>{{ apiVenue?.formatted_phone_number }}</span> 
            </div>
            <div *ngIf="apiVenue?.price_level">
              <p>Price Level: {{ getPriceDescription(apiVenue.price_level) }}</p>
              <ion-progress-bar [value]="apiVenue.price_level / 5" [color]="getPriceBarColor(apiVenue.price_level)"></ion-progress-bar>
            </div>
            <br>
            <div *ngIf="apiVenue?.rating">
              <ion-badge color="warning" class="rating-badge">
                <ion-icon name="star" class="rating-icon"></ion-icon>
                <span>{{ apiVenue?.rating }}</span>
              </ion-badge>
            </div>  
          </ion-card-content>
            <ion-footer>
              <!-- <ion-button shape="round"><ion-icon name="share-outline"></ion-icon>Share</ion-button> -->
              <ion-button shape="round" expand="block" (click)="openGoogleMaps(apiVenue.name)"><ion-icon name="compass-outline"></ion-icon>Get Directions</ion-button>
            </ion-footer>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
