<!-- <ion-header>
  <ion-toolbar>
    <ion-title>User List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="users$ | async as users; else loading">
    <ion-item *ngFor="let user of users" (click)="startChatWith(user.uid)">
      <ion-label>{{ user.firstName }} ({{ user.lastName }})</ion-label> <!-- Adjust according to your user fields -->
    <!-- </ion-item>
  </ion-list>
  
  <ng-template #loading>
    <ion-item>
      <ion-label>Loading users...</ion-label>
    </ion-item>
  </ng-template>
</ion-content> --> 
