<ion-header>
  <ion-toolbar>
    <ion-title>Messages</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openNewChat()">
        <ion-icon slot="icon-only" name="add-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let chat of chats" (click)="openChat(getRecipientId(chat))">
      
      <ion-label>
        <h2>{{ getRecipientName(chat) }}</h2>
        <p>{{ chat.lastMessage }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>