<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Edit Interests</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Edit Interests</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item>
      <ion-select aria-label="Drinks" placeholder="Select all drinks that apply" [multiple]="true">
        <ion-select-option value="pints" [(ngModel)]="user.pints">Pints</ion-select-option>
        <ion-select-option [(ngModel)]="user.cocktails">Cocktails</ion-select-option>
        <ion-select-option [(ngModel)]="user.wine">Wine</ion-select-option>
        <ion-select-option [(ngModel)]="user.gin">Gin</ion-select-option>
        <ion-select-option [(ngModel)]="user.whiskey">Whiskey</ion-select-option>
        <ion-select-option [(ngModel)]="user.nonAlcoholic">Non-Alcoholic</ion-select-option>
        <ion-select-option [(ngModel)]="user.goodGuinness">Good Guinness</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-select aria-label="Venues" placeholder="Select all venues that apply" [multiple]="true">
        <ion-select-option [(ngModel)]="user.pub">Pub</ion-select-option>
        <ion-select-option [(ngModel)]="user.nightclub">Nightclub</ion-select-option>
        <ion-select-option [(ngModel)]="user.bar">Bar</ion-select-option>
        <ion-select-option [(ngModel)]="user.lateBar">Late Bar</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-select aria-label="Music" placeholder="Select all music genres that apply" [multiple]="true">
        <ion-select-option [(ngModel)]="user.trad">Trad</ion-select-option>
        <ion-select-option [(ngModel)]="user.pop">Pop</ion-select-option>
        <ion-select-option [(ngModel)]="user.techno">Techno</ion-select-option>
        <ion-select-option [(ngModel)]="user.house">House</ion-select-option>
        <ion-select-option [(ngModel)]="user.indie">Indie</ion-select-option>
        <ion-select-option [(ngModel)]="user.rock">Rock</ion-select-option>
        <ion-select-option [(ngModel)]="user.rAndB">R&B</ion-select-option>
        <ion-select-option [(ngModel)]="user.hipHop">Hip Hop</ion-select-option>
        <ion-select-option [(ngModel)]="user.reggaeton">Reggaeton</ion-select-option>
        <ion-select-option [(ngModel)]="user.jazz">Jazz</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-select aria-label="Atmosphere" placeholder="Select all atmosphere types that apply" [multiple]="true">
        <ion-select-option [(ngModel)]="user.energetic">Energetic</ion-select-option>
        <ion-select-option [(ngModel)]="user.cosy">Cosy</ion-select-option>
        <ion-select-option [(ngModel)]="user.alternative">Alternative</ion-select-option>
        <ion-select-option [(ngModel)]="user.relaxed">Relaxed</ion-select-option>
        <ion-select-option [(ngModel)]="user.traditional">Traditional</ion-select-option>
        <ion-select-option [(ngModel)]="user.fancy">Fancy</ion-select-option>
        <ion-select-option [(ngModel)]="user.casual">Casual</ion-select-option>
        <ion-select-option [(ngModel)]="user.lgbtq">LGBTQ+</ion-select-option>
        <ion-select-option [(ngModel)]="user.loud">Loud</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-select aria-label="Amenities" placeholder="Select all amenities that apply" [multiple]="true">
        <ion-select-option [(ngModel)]="user.outdoorSeats">Outdoor Seats</ion-select-option>
        <ion-select-option [(ngModel)]="user.accessible">Accessible</ion-select-option>
        <ion-select-option [(ngModel)]="user.cloakRoom">Cloak Room</ion-select-option>
        <ion-select-option [(ngModel)]="user.smokingArea">Smoking Area</ion-select-option>
        <ion-select-option [(ngModel)]="user.beerGarden">Beer Garden</ion-select-option>
        <ion-select-option [(ngModel)]="user.danceFloor">Dance Floor</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-select aria-label="Entertainment" placeholder="Select all activities that apply" [multiple]="true">
        <ion-select-option [(ngModel)]="user.festival">Festival</ion-select-option>
        <ion-select-option [(ngModel)]="user.openMic">Open Mic</ion-select-option>
        <ion-select-option [(ngModel)]="user.pubQuiz">Pub Quiz</ion-select-option>
        <ion-select-option [(ngModel)]="user.rave">Rave</ion-select-option>
        <ion-select-option [(ngModel)]="user.liveGig">Live Gig</ion-select-option>
        <ion-select-option [(ngModel)]="user.dj">DJ</ion-select-option>
        <ion-select-option [(ngModel)]="user.karaoke">Karaoke</ion-select-option>
        <ion-select-option [(ngModel)]="user.comedy">Comedy</ion-select-option>
        <ion-select-option [(ngModel)]="user.sports">Sports</ion-select-option>
        <ion-select-option [(ngModel)]="user.specialisedEvents">Specialised Events</ion-select-option>
        <ion-select-option [(ngModel)]="user.games">Games</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-footer>
    <ion-toolbar color="success">
      <ion-button expand="full" fill="clear" color="light" (click)="updateUser()">
      <ion-icon name="checkmark" slot="start"></ion-icon>
      Update User Preference
      </ion-button>
    </ion-toolbar>
  </ion-footer>
</ion-content> -->

<!-- <ion-list>
  <ion-item>
    <ion-select aria-label="Fruit" placeholder="Select all fruits that apply" [multiple]="true">
      <ion-select-option value="apples">Apples</ion-select-option>
      <ion-select-option value="oranges">Oranges</ion-select-option>
      <ion-select-option value="bananas">Bananas</ion-select-option>
    </ion-select>
  </ion-item>
</ion-list> -->
