.chip-scroll-container {
    overflow-x: auto; /* Enables horizontal scrolling */
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    padding: 2px; /* Add padding around the scroll container */
  }

  .chip-container {
      display: inline-flex; /* Align the chips in a row */
      gap: 5px; /* Adjust spacing between chips */
    }

h2 {
    --color: #9efff0;
}

  .venue-item {
    --padding-start: 10px;
    --inner-padding-end: 10px;
  }
  
  .venue-item ion-icon {
    margin-right: 8px;  /* Space between icon and text */
    vertical-align: middle; /* Align icon with text */
  }
  
  .venue-item h2 {
    font-weight: bold;
  }
  
  .venue-item p {
    display: flex;
    align-items: center;
    margin: 5px 0;
  }
  
  .spinner-container {
    display: flex;
    justify-content: center; /* Horizontally centers the spinner */
    align-items: center;     /* Vertically centers the spinner */
    height: 100%;            /* Full height of the content area (without extra vertical scroll) */
    position: absolute;      /* Ensures it's positioned relative to the container */
    top: 0;
    left: 0;
    width: 100%;             /* Full width of the content area */
  }