<ion-header>
    <!-- <ion-icon class="notification-icon" name="notifications-outline" (click)="openNotifications()"></ion-icon> -->
  <div class="center-container">
    <img src="/assets/images/Slainte-Logo.png" class="logo">
  </div>

</ion-header>


<ion-content class="ion-padding">

  <!-- <div *ngIf="userDetails">
    <ion-avatar class="profilePic">
      <img [src]="userDetails?.imageURL ? userDetails.imageURL : 'https://ionicframework.com/docs/img/demos/avatar.svg'" alt="User Profile Picture">
    </ion-avatar>
    <h2>Hi {{ userDetails.firstName }}!</h2>
  </div>
  <br> -->
  <!-- <ion-refresher slot="fixed" (ionRefresh)="refreshAllContent($event)">
    <ion-refresher-content pullingIcon="arrow-down" refreshingSpinner="bubbles"></ion-refresher-content>
  </ion-refresher> -->

  <h3>Venues For You</h3>
   <app-venues-for-user></app-venues-for-user>

  <h3>Venues Nearby</h3>
    <app-venues></app-venues>

  <h3>Connect with more Sláinte users</h3>
    <app-connect></app-connect> 
</ion-content>
