.ion-padding {
    color: #fff;
}

.center-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically */
  }

  .location-search-icon{
    width: 30px;
    height: 30px;
    float: right;
  }
  
  .centered-content {
    text-align: center;      /* Optional: Center-align text inside the content */
    
  }

  .profilePic {
    width: 40px; /* Adjust the size of the avatar */
    height: 40px; /* Ensure the avatar is circular */
    margin-right: 16px; /* Space between the avatar and user details */
    float: left;
  }

  .logo {
    width: 60px;
    height: 60px;
  }

  .container {
    display: flex;
    align-items: center; /* Align items vertically */
    justify-content: space-between; /* Space out the logo and icon */
    padding-right: 15px;
    padding-left: 15px;
  }



