<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title>Friends</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-list *ngIf="users$ | async as users; else loading">
      <ion-item *ngFor="let user of users" (click)="startChat(user.uid)">
        <ion-label>{{ user.firstName }} {{ user.lastName }}</ion-label>
      </ion-item>
    </ion-list>
    
    <ng-template #loading>
      <ion-item>
        <ion-label>Loading users...</ion-label>
      </ion-item>
    </ng-template>
  </ion-content>