.uniform-col {
    display: flex; /* Ensures consistent card alignment */
    justify-content: center; /* Centers cards horizontally */
  }
  
  .venue-card {
    width: 100%; /* Ensures cards take up the full column width */
    max-width: 350px; /* Optional: Sets a maximum width for consistency */
    margin: 10px auto; /* Adds space around the cards */
    display: flex;
    flex-direction: column;
    justify-content:left; /* Ensures content is spaced out evenly */
  }
  
  .venue-image {
    height: 200px;
    width: 100%;
    object-fit: cover;
  }

  ion-card-content {
    padding-bottom: 16px; 
  }
  
  .ion-grid {
    --ion-padding: 16px; /* Adds padding to the grid */
  }
  
  ion-row {
    --ion-margin-bottom: 16px; /* Adds spacing between rows */
  }
  
  ion-col {
    display: flex;
    justify-content: center; /* Centers the cards horizontally */
  }
  
  ion-icon {
    margin-left: 3px; /* Optional spacing for better alignment */
    width: 30px;
    height: 30px;
  }

  .search-wrapper {
    display: flex;               /* Enables a horizontal layout */
    align-items: center;         /* Aligns items vertically */
  }
  
  .search-button {
    margin-left: 10px;           /* Adds space between the search bar and button */
  }
  
  
