<ion-header>
  <ion-toolbar class="toolbar">
  <ion-buttons slot="start">
    <ion-back-button defaultHref="/"></ion-back-button>
  </ion-buttons>

  <div *ngIf="loading" class="spinner-container">
    <ion-spinner name="crescent"></ion-spinner>
  </div>
</ion-toolbar>
</ion-header>

<div class="search-wrapper ion-padding">
  <ion-searchbar [(ngModel)]="userInput" search-icon="location" placeholder="Search location..." (ionInput)="onInputChange($event)"></ion-searchbar>
  <ion-button class="search-button" fill="clear" size="medium" (click)="onUserInputSubmit()">Search</ion-button>
</div>


<!-- <ion-content class="ion-padding">
  <ion-grid>
    <div *ngIf="!loading">
      <div *ngIf="bars.length > 0; else noBars">
        <ion-row> -->
          <!-- Loop through the bars array -->
          <!-- <ion-col 
            *ngFor="let bar of bars" size="12" size-sm="6" size-md="3" size-lg="3" size-xl="3"class="uniform-col">
            <ion-card class="venue-card" (click)="openApiVenueDetails(bar)"> -->
              <!-- Venue image -->
              <!-- <img class="venue-image" *ngIf="bar.photos && bar.photos.length > 0" [src]="bar.photos[0].photoUrl" alt="{{ bar.name }}"> -->
              <!-- Venue information -->
              <!-- <ion-card-header>
                <ion-card-title>{{ bar.name }}</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <p>
                  <ion-icon name="location-outline" class="icon"></ion-icon>
                  <span>{{ bar.vicinity }}</span>
                </p>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </div>
      <ng-template #noBars>
        <div class="no-bars-message">
          <p>No venues found in this area. Try searching for another location.</p>
        </div>
      </ng-template>
    </div>
  </ion-grid> -->
<!-- </ion-content> -->
 <ion-content class="ion-padding">
  <div *ngIf="!loading">
    <div *ngIf="bars.length > 0; else noBars">
      <ion-card *ngFor="let bar of bars" class="venue-card" (click)="openApiVenueDetails(bar)">
        <img class="venue-image" *ngIf="bar.photos && bar.photos.length > 0" [src]="bar.photos[0].photoUrl" alt="{{ bar.name }}">
        <ion-card-header>
          <div class="card-header-container">
          <ion-card-title> 
            {{ bar.name }}
          </ion-card-title>
          <div class="icons-container">
            <ion-icon name="logo-google" class="icon"></ion-icon>
          </div>
          </div>
        </ion-card-header>
        <ion-card-content>
          <p class="venue-address">
            <ion-icon name="location-outline" class="icon"></ion-icon>
            <span> {{ bar.vicinity }}</span>
          </p>
          <p>
            <ion-badge color="warning" class="rating-badge">
              <ion-icon name="star" class="rating-icon"></ion-icon>
              <span> {{ bar.rating }} </span>
            </ion-badge>
          </p>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
  <ng-template #noBars>
    <div class="no-bars-message">
      <p> No venues found in this area. try searching another location. </p>
    </div>
  </ng-template>
 </ion-content>

