<ion-header>
  <ion-toolbar>
    <ion-title>Update Profile</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="editForm" (ngSubmit)="submitForm()">
    <ion-item>
      <ion-label position="floating">First Name</ion-label>
      <ion-input formControlName="firstName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Last Name</ion-label>
      <ion-input formControlName="lastName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input formControlName="email" type="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Bio</ion-label>
      <ion-textarea formControlName="userBio"></ion-textarea>
    </ion-item>
    <div class="category">
      <h4>Interest Selection</h4>
      <h5>Atmosphere</h5>
      <ion-chip
        *ngFor="let option of atmosphereOptions"
        [color]="editForm.controls[option.controlName].value ? 'atmosphere-check' : ''"
        (click)="toggleChip(option.controlName)"
        class="atmosphere-chips" [outline]="true">
        {{ option.label }}
        <ion-icon *ngIf="editForm.controls[option.controlName].value" name="checkmark"></ion-icon>
      </ion-chip>
    </div>
    
    <div class="category">
      <h5>Drinks</h5>
      <ion-chip
        *ngFor="let option of drinksOptions"
        [color]="editForm.controls[option.controlName].value ? 'drinks-check' : ''"
        (click)="toggleChip(option.controlName)"
        class="drinks-chips" [outline]="true">
        {{ option.label }}
        <ion-icon *ngIf="editForm.controls[option.controlName].value" name="checkmark" class="drinks-check"></ion-icon>
      </ion-chip>
    </div>

    <div class="category">
      <h5>Music</h5>
      <ion-chip
        *ngFor="let option of musicOptions"
        [color]="editForm.controls[option.controlName].value ? 'music-check' : ''"
        (click)="toggleChip(option.controlName)"
        class="music-chips" [outline]="true">
        {{ option.label }}
        <ion-icon *ngIf="editForm.controls[option.controlName].value" name="checkmark" class="music-check"></ion-icon>
      </ion-chip>
    </div>

    <div class="category">
      <h5>Amenities</h5>
      <ion-chip
        *ngFor="let option of amenitiesOptions"
        [color]="editForm.controls[option.controlName].value ? 'amenities-check' : ''"
        (click)="toggleChip(option.controlName)"
        class="amenities-chips" [outline]="true">
        {{ option.label }}
        <ion-icon *ngIf="editForm.controls[option.controlName].value" name="checkmark" class="amenities-check"></ion-icon>
      </ion-chip>
    </div>

    <div class="category">
      <h5>Entertainment</h5>
      <ion-chip
        *ngFor="let option of entertainmentOptions"
        [color]="editForm.controls[option.controlName].value ? 'entertainment-check' : ''"
        (click)="toggleChip(option.controlName)"
        class="entertainment-chips" [outline]="true">
        {{ option.label }}
        <ion-icon *ngIf="editForm.controls[option.controlName].value" name="checkmark" class="entertainment-check"></ion-icon>
      </ion-chip>
    </div>
        
    <ion-button class="button" expand="block" shape="round" type="submit">Save Changes</ion-button>
  </form>
</ion-content>
