<ion-header>
  <ion-toolbar>
    <ion-title>Update Profile</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="editForm" (ngSubmit)="submitForm()">
    <ion-item>
      <ion-label position="floating">First Name</ion-label>
      <ion-input formControlName="firstName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Last Name</ion-label>
      <ion-input formControlName="lastName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input formControlName="email" type="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Bio</ion-label>
      <ion-textarea formControlName="userBio"></ion-textarea>
    </ion-item>

    <h3>Edit Your Interests</h3>
    <div class="category">
      <h5>Atmosphere</h5>
      <ion-chip
        *ngFor="let option of atmosphereOptions"
        [color]="editForm.controls[option.controlName].value ? 'primary' : ''"
        (click)="toggleChip(option.controlName)">
        {{ option.label }}
        <ion-icon *ngIf="editForm.controls[option.controlName].value" name="checkmark"></ion-icon>
      </ion-chip>
    </div>
    
    <div class="category">
      <h5>Drinks</h5>
      <ion-chip
        *ngFor="let option of drinksOptions"
        [color]="editForm.controls[option.controlName].value ? 'primary' : ''"
        (click)="toggleChip(option.controlName)">
        {{ option.label }}
        <ion-icon *ngIf="editForm.controls[option.controlName].value" name="checkmark"></ion-icon>
      </ion-chip>
    </div>

    <div class="category">
      <h5>Music</h5>
      <ion-chip
        *ngFor="let option of musicOptions"
        [color]="editForm.controls[option.controlName].value ? 'primary' : ''"
        (click)="toggleChip(option.controlName)">
        {{ option.label }}
        <ion-icon *ngIf="editForm.controls[option.controlName].value" name="checkmark"></ion-icon>
      </ion-chip>
    </div>

    <div class="category">
      <h5>Amenities</h5>
      <ion-chip
        *ngFor="let option of amenitiesOptions"
        [color]="editForm.controls[option.controlName].value ? 'primary' : ''"
        (click)="toggleChip(option.controlName)">
        {{ option.label }}
        <ion-icon *ngIf="editForm.controls[option.controlName].value" name="checkmark"></ion-icon>
      </ion-chip>
    </div>

    <div class="category">
      <h5>Entertainment</h5>
      <ion-chip
        *ngFor="let option of entertainmentOptions"
        [color]="editForm.controls[option.controlName].value ? 'primary' : ''"
        (click)="toggleChip(option.controlName)">
        {{ option.label }}
        <ion-icon *ngIf="editForm.controls[option.controlName].value" name="checkmark"></ion-icon>
      </ion-chip>
    </div>
    
    <!-- Repeat for other categories (Music, Amenities, Entertainment, etc.) -->
    
    <ion-button expand="block" type="submit" [disabled]="!editForm.valid">Save Changes</ion-button>
  </form>
</ion-content>
