<ion-header>
  <ion-toolbar>
    <ion-title>
      {{ recipientName }}
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="message-list">
    <ion-item *ngFor="let message of messages" [ngClass]="{ 'sent': message.senderId === currentUserId, 'received': message.senderId !== currentUserId }">
      <ion-label class="message-bubble">
        <p class="message-content"> {{ message.content }} </p>
        <p class="message-time"> {{message.timestamp | date:'shortTime' }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <div class="message-input-container">
      <ion-input class="message-input" [(ngModel)]="newMessage" placeholder="Type a message..."></ion-input>
      <ion-button (click)="sendMessage()" fill="clear">
        <ion-icon name="send"></ion-icon>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>