
.message-list {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

ion-item.sent {
  justify-content: end;
  float: right;

}

ion-item.received {
  justify-content: start;
  float: left;

}

.message-bubble {
  max-width: 100%;
  padding: 10px;
  border-radius: 15px;
  color: black;
  font-size: 16px;
  position: relative;
  margin: 5px 0;
}

.sent .message-bubble {
  background-color: #3880ff;  // Color for sent messages
  color: white;
  float: right;
  text-align: right;
}

.received .message-bubble {
  background-color: #e0e0e0;  // Color for received messages
  color: black;
  float: left;
  text-align: left;
}

.sent .message-content {
  margin: 0;
  color: white;
}

.received .message-content {
  margin: 0;
  color: black;
}


.message-time {
  font-size: 11px;
  opacity: 0.6;
  margin-top: 5px;
}

.message-input-container {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 8px; // Padding around the container
}

.message-input {
  --background: white;
  --border-radius: 20px;
  color: black;
  padding: 8px 20px; // Padding inside the input bubble
  flex: 1; // Allow input to take up available space
}

ion-button {
  margin-left: 8px;
  font-size: 1.2em; // Adjust icon size
  color: #3880ff; // Customize button color if desired
}