.sent {
    text-align: right;
    background-color: #dcf8c6;
  }
  
  .received {
    text-align: left;
    background-color: #ffffff;
  }
  
  ion-input {
    width: 80%;
  }
  
  ion-button {
    width: 20%;
  }