<div class="venues-container">
  <div *ngIf="bars.length > 0;">
    <!-- Loop through the venues array -->
    <ion-card *ngFor="let bar of bars" class="center-card">
      <ion-card-header>
        <ion-card-title>{{ bar.name }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div>
          <ion-icon name="location-outline" class="icon"></ion-icon>
          <span>{{ bar.vicinity }}</span>
        </div>
        <div>
          <ion-icon name="star-outline" class="icon"></ion-icon>
          <span>{{ bar.rating }}</span>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</div>
