.horizontal-scroll-container {
  display: flex;
  overflow-x: auto;
  gap: 12px; /* Adjust this value for a slight gap */
  padding: 0; /* Ensure there’s no extra padding */
  overflow-y: hidden;
}

.venue-card {
  min-width: 250px;
  max-height: 350px;
  margin: 0; /* Removes default margin */
  padding: 0; /* Removes any padding */
}

.venue-image {
  height: 100px;
  width: 100%;
  object-fit: cover;
}

ion-content {
  height: 350px; /* 80% of the viewport height */
  overflow-y: hidden;
}