  #buttons {
    display: flex;               /* Use flexbox layout */
    justify-content: center;     /* Center items horizontally */
    align-items: center;  
    padding-bottom: 10px;       /* Center items vertically (optional) */
  }
  
  ion-button {
    margin: 0 10px;  
    color: white; /* For dark blue buttons */
  }

  .rating-badge {
    align-items: center;
    padding: 5px 10px;  /* Add some padding for a better look */
    font-size: 16px;    /* Adjust font size */
    line-height: 1;     /* Ensures the icon and text align properly */
    border-radius: 12px;  /* Round the badge for better aesthetics */
    color: black;
  }
  
  .rating-icon {
    margin-right: 5px;   /* Space between icon and rating text */
    font-size: 18px;     /* Adjust icon size */
  }
  
  .open-now {
    color: green;
    text-align: left;
    padding-bottom: 10px;
    font-weight: bold;  
  }

  .closed-now {
    color: red;
    text-align: left;
    padding-bottom: 10px;
    font-weight: bold;  
  }
  
  .card-header-container {
    display: flex;
    justify-content: space-between; /* Space out title and icon/logo container */
    align-items: center; /* Align items vertically */
  }
  
  .icon-logo-container {
    display: flex; /* Enables flexbox layout for the icon and logo */
    align-items: center; /* Align items vertically */
  }
  
  .icon {
    font-size: 30px; /* Adjust icon size */
    margin-right: 8px; /* Add space between icon and logo */
    cursor: pointer; /* Makes the icon clickable */
  }
  
  .slainte-verified-logo {
    height: 42px; /* Set a smaller height for the logo */
    width: auto; /* Maintain aspect ratio */
  }
  
  
  
  


  
