.input {
font-size: 300;
}

ion-item{
    --background: black;
    color:white;
    border-radius: 20 px;
    margin-bottom: 16px;
}

.header{
    margin-top: 100px;
    margin-bottom: 80px;
    text-align: center;
    .subTitle{
        color: gray;
        font-size: 0.9rem;
    }
    .title{
        font-size: 2rem;
    }
}

.signupLink {
    display: flex;
    margin: auto;
    flex-direction: row;
    align-content: center;
    position: absolute;
    justify-content: center;
    left: 0;
    bottom: 0;
    width: 80%;
    right:0;

    p{
        font-size: 0.9rem;
    }
    a{
        text-decoration: none;
    }
}

.forgotPassword{
    display: flex;
    align-items: center;
    justify-content: center;
    a{
        font-weight: 400;
        font-size: 0.8rem;
        text-decoration: none;
    }
}

.loginButton {
    color: white;
    justify-content: center;
    align-items: center; /* Center vertically within the container */
    display: flex;
}

.logo {
    height: 150px;
    width: 150px;
}

.logo-container {
    display: flex;
    justify-content: center; /* Center horizontally within the container */
    align-items: center; /* Center vertically within the container */
  }

.sub-title{
        display: flex;
        justify-content: center; /* Center horizontally within the container */
        align-items: center; /* Center vertically within the container */
        font-size: 1rem;
}
