.filter {
    display: flex;
    justify-content: flex-end;
    padding-top: 15px; /* Space above */
    padding-right: 20px; /* Inline space to the right */
}

.headings {
    padding-left: 20px;
}
  
  