<ion-header>
  <ion-toolbar>
    <ion-title>Explore</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- First row with heading and filter -->
  <ion-row>
    <ion-col>
      <div class="headings">
        <h2>Venues for You</h2>
      </div>
    </ion-col>
    <ion-col>
      <div class="filter" style="text-align: right;">
        <ion-icon name="filter" size="large" (click)="openFilterModal()"></ion-icon>
      </div>
    </ion-col>
  </ion-row>

  <!-- Display the count of venues -->
  <ion-row>
    <ion-col size="12">
      <p>
        <i>Showing {{ countFilteredVenues() }} out of {{ countAllVenues() }} venues</i>
      </p>
    </ion-col>
  </ion-row>

  <!-- Row for selected filters -->
  <ion-row *ngIf="selectedFilters.length > 0">
    <ion-col>
      <ion-chip *ngFor="let filter of selectedFilters" (click)="removeFilter(filter)">
        <ion-label>{{ filter.label }}</ion-label>
        <ion-icon name="close-outline"></ion-icon>
      </ion-chip>
    </ion-col>
  </ion-row>

  <!-- Venue list -->
  <ion-grid>
    <ion-row>
      <ng-container *ngFor="let venue of filteredVenues"> 
        <div (click)="openVenueDetails(venue)">
        <ion-col size="12" size-sm="6" size-md="4" size-lg="3" size-xl="3">
          <ion-card class="venue-card">
            <img [src]="venue.imageURL" alt="{{ venue.name }}">
            <ion-card-header>
              <ion-card-title>{{ venue.name }}</ion-card-title>
              <ion-card-subtitle>{{ venue.type }}</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <div class="chip-container">
                <!-- Atmosphere -->
                <ion-chip *ngIf="venue.traditional">Traditional</ion-chip> 
                <ion-chip *ngIf="venue.casual">Casual</ion-chip> 
                <ion-chip *ngIf="venue.cosy">Cosy</ion-chip> 
                <ion-chip *ngIf="venue.energetic">Energetic</ion-chip> 
                <ion-chip *ngIf="venue.alternative">Alternative</ion-chip> 
                <ion-chip *ngIf="venue.relaxed">Relaxed</ion-chip> 
                <ion-chip *ngIf="venue.fancy">Fancy</ion-chip> 
                <ion-chip *ngIf="venue.lgbtq">LGBTQ+</ion-chip> 
                <ion-chip *ngIf="venue.loud">Loud</ion-chip> 

                <!-- Drinks -->
                <ion-chip *ngIf="venue.cocktails">Cocktails</ion-chip> 
                <ion-chip *ngIf="venue.gin">Gin</ion-chip> 
                <ion-chip *ngIf="venue.goodGuinness">Good Guinness</ion-chip> 
                <ion-chip *ngIf="venue.pints">Pints</ion-chip> 
                <ion-chip *ngIf="venue.nonAlcoholic">Non-Alcoholic</ion-chip> 
                <ion-chip *ngIf="venue.whiskey">Whiskey</ion-chip>
                <ion-chip *ngIf="venue.wine">Wine</ion-chip> 
 
                <!-- Music -->
                <ion-chip *ngIf="venue.hipHop">Hip-Hop</ion-chip> 
                <ion-chip *ngIf="venue.house">House</ion-chip> 
                <ion-chip *ngIf="venue.indie">Indie</ion-chip> 
                <ion-chip *ngIf="venue.jazz">Jazz</ion-chip> 
                <ion-chip *ngIf="venue.pop">Pop</ion-chip> 
                <ion-chip *ngIf="venue.rNb">R&B</ion-chip>
                <ion-chip *ngIf="venue.reggaeton">Reggaeton</ion-chip> 
                <ion-chip *ngIf="venue.rock">Rock</ion-chip>
                <ion-chip *ngIf="venue.techno">Techno</ion-chip> 
                <ion-chip *ngIf="venue.trad">Trad</ion-chip> 

                <!-- Amenities -->
                <ion-chip *ngIf="venue.accessible">Accessible</ion-chip> 
                <ion-chip *ngIf="venue.beerGarden">Beer Garden</ion-chip> 
                <ion-chip *ngIf="venue.cloakRoom">Cloak Room</ion-chip> 
                <ion-chip *ngIf="venue.danceFloor">Dance Floor</ion-chip> 
                <ion-chip *ngIf="venue.outdoorSeats">Outdoor Seats</ion-chip> 
                <ion-chip *ngIf="venue.smokingArea">Smoking Area</ion-chip>
                <ion-chip *ngIf="venue.budgetFriendly">Budget-Friendly</ion-chip>


                <!-- Entertainment -->
                <ion-chip *ngIf="venue.comedy">Comedy</ion-chip> 
                <ion-chip *ngIf="venue.dJ">DJ</ion-chip> 
                <ion-chip *ngIf="venue.festival">Festival</ion-chip> 
                <ion-chip *ngIf="venue.games">Games</ion-chip> 
                <ion-chip *ngIf="venue.karaoke">Karaoke</ion-chip> 
                <ion-chip *ngIf="venue.liveGigs">Live Gigs</ion-chip>
                <ion-chip *ngIf="venue.openMic">Open Mic</ion-chip> 
                <ion-chip *ngIf="venue.pubQuiz">Pub Quiz</ion-chip>
                <ion-chip *ngIf="venue.raves">Raves</ion-chip> 
                <ion-chip *ngIf="venue.specialisedEvents">Specialised Events</ion-chip>
                <ion-chip *ngIf="venue.sports">Sports</ion-chip> 
                <ion-chip *ngIf="venue.dragShows">Drag Shows</ion-chip> 
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
        </div>
      </ng-container>
    </ion-row>
  </ion-grid>
</ion-content>
