  .venue-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Adjust the size to your liking */
    gap: 5px; /* Space between grid items */
    padding: 5px;
  }
  
  .venue-item {
    text-align: center; /* Center the text and image */
  }
  
  .venue-image {
    width: 100%;
    height: 150px;
    border-radius: 8px; /* Optional: Add rounded corners to the images */
    object-fit: cover; /* Ensure the images cover the space without stretching */
  }
  
  .venue-name {
    margin-top: 8px;
    font-size: 14px;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%; /* Ensures text does not overflow */
  }