<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/edit-user',user.uid]">
      <ion-icon name="color-palette"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Profile</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-avatar>
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
    </ion-card-header>
    <ion-card-content>
      <ion-card-title> {{ user.firstName }} {{ user.lastName }}</ion-card-title>
    </ion-card-content>
    <h3>INTERESTS</h3>
    <ion-row class="ion-justify-content-center">
      <ion-chip *ngIf="user.pints">Pints</ion-chip>
      <ion-chip *ngIf="user.cocktails">Cocktails</ion-chip>
      <ion-chip *ngIf="user.wine">Wine</ion-chip>
      <ion-chip *ngIf="user.gin">Gin</ion-chip>
      <ion-chip *ngIf="user.whiskey">Whiskey</ion-chip>
      <ion-chip *ngIf="user.nonAlcoholic">Non-Alcoholic</ion-chip>
      <ion-chip *ngIf="user.goodGuinness">Good Guinness</ion-chip>
  
      <ion-chip *ngIf="user.pub">Pub</ion-chip>
      <ion-chip *ngIf="user.bar">Bar</ion-chip>
      <ion-chip *ngIf="user.nightclub">Nightclub</ion-chip>
      <ion-chip *ngIf="user.lateBar">Late Bar</ion-chip>
  
      <ion-chip *ngIf="user.trad">Trad</ion-chip>
      <ion-chip *ngIf="user.pop">Pop</ion-chip>
      <ion-chip *ngIf="user.techno">Techno</ion-chip>
      <ion-chip *ngIf="user.house">House</ion-chip>
      <ion-chip *ngIf="user.indie">Indie</ion-chip>
      <ion-chip *ngIf="user.rock">Rock</ion-chip>
      <ion-chip *ngIf="user.rAndB">R&B</ion-chip>
      <ion-chip *ngIf="user.hipHop">Hip Hop</ion-chip>
      <ion-chip *ngIf="user.reggaeton">Reggaeton</ion-chip>
      <ion-chip *ngIf="user.jazz">Jazz</ion-chip>
  
      <ion-chip *ngIf="user.energetic">Energetic</ion-chip>
      <ion-chip *ngIf="user.cosy">Cosy</ion-chip>
      <ion-chip *ngIf="user.alternative">Alternative</ion-chip>
      <ion-chip *ngIf="user.relaxed">Relaxed</ion-chip>
      <ion-chip *ngIf="user.traditional">Traditional</ion-chip>
      <ion-chip *ngIf="user.fancy">Fancy</ion-chip>
      <ion-chip *ngIf="user.casual">Casual</ion-chip>
      <ion-chip *ngIf="user.lgbtq">LGBTQ+</ion-chip>
      <ion-chip *ngIf="user.loud">Loud</ion-chip>
  
      <ion-chip *ngIf="user.outdoorSeats">Outdoor Seats</ion-chip>
      <ion-chip *ngIf="user.accessible">Accessible</ion-chip>
      <ion-chip *ngIf="user.cloakRoom">Cloak Room</ion-chip>
      <ion-chip *ngIf="user.smokingArea">Smoking Area</ion-chip>
      <ion-chip *ngIf="user.beerGarden">Beer Garden</ion-chip>
      <ion-chip *ngIf="user.danceFloor">Dance Floor</ion-chip>
  
      <ion-chip *ngIf="user.festival">Festival</ion-chip>
      <ion-chip *ngIf="user.openMic">Open Mic</ion-chip>
      <ion-chip *ngIf="user.pubQuiz">Pub Quiz</ion-chip>
      <ion-chip *ngIf="user.rave">Rave</ion-chip>
      <ion-chip *ngIf="user.liveGig">Live Gig</ion-chip>
      <ion-chip *ngIf="user.dj">DJ</ion-chip>
      <ion-chip *ngIf="user.karaoke">Karaoke</ion-chip>
      <ion-chip *ngIf="user.comedy">Comedy</ion-chip>
      <ion-chip *ngIf="user.sports">Sports</ion-chip>
      <ion-chip *ngIf="user.specialisedEvents">Specialised Events</ion-chip>
      <ion-chip *ngIf="user.games">Games</ion-chip>
    </ion-row>
  </ion-card>
</ion-content>
