<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- <ion-card>
    
    <ion-card-header>
      <ion-avatar>
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
    </ion-card-header>
    <ion-card-content>
      <ion-card-title>Genevieve Connolly</ion-card-title>
      <br>

      <ion-card-subtitle>Friends</ion-card-subtitle>
     
    
    </ion-card-content>
  </ion-card> -->
  <div *ngIf="userData">
    <h1>Welcome, {{ userData.email}}</h1>
    

  </div>
  
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button (click)="signOut()">Log Out</ion-button>
  </ion-toolbar>
</ion-footer>


