<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
    <ion-icon name="log-out-outline" class="logout-icon" (click)="presentLogoutActionSheet()"></ion-icon>
  </ion-toolbar>
  
</ion-header>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="refreshAllContent($event)">
    <ion-refresher-content pullingIcon="bubbles" refreshingSpinner="bubbles"></ion-refresher-content>
  </ion-refresher>
  <div class="content-container">
    <div class="profile-container">
      <ion-avatar class="profilePic" (click)="presentPictureActionSheet()" tappable>
        <img [src]="userDetails?.imageURL ? userDetails.imageURL : 'https://ionicframework.com/docs/img/demos/avatar.svg'" alt="User Profile Picture">
      </ion-avatar>
  
      <div class="user-details">
        <div *ngIf="userDetails">
          <h2>{{ userDetails.firstName }} {{ userDetails.lastName }}</h2>
        </div>
        <p> {{ userDetails?.userBio }}</p>
        <div class="interests-container">
          <ion-chip class="drinks-chips" [outline]="true" *ngIf="userDetails?.preferences?.pints">
            <ion-label>Pints</ion-label>
          </ion-chip>
          <ion-chip class="drinks-chips" [outline]="true" *ngIf="userDetails?.preferences?.cocktails">
            <ion-label>Cocktails</ion-label>
          </ion-chip>
          <ion-chip class="drinks-chips" [outline]="true" *ngIf="userDetails?.preferences?.wine">
            <ion-label>Wine</ion-label>
          </ion-chip>
          <ion-chip class="drinks-chips" [outline]="true" *ngIf="userDetails?.preferences?.gin">
            <ion-label>Gin</ion-label>
          </ion-chip>
          <ion-chip class="drinks-chips" [outline]="true" *ngIf="userDetails?.preferences?.whiskey">
            <ion-label>Whiskey</ion-label>
          </ion-chip>
          <ion-chip class="drinks-chips" [outline]="true" *ngIf="userDetails?.preferences?.nonAlcoholic">
            <ion-label>Non-Alcoholic</ion-label>
          </ion-chip>
          <ion-chip class="drinks-chips" [outline]="true" *ngIf="userDetails?.preferences?.goodGuinness">
            <ion-label>Good Guinness</ion-label>
          </ion-chip>
  
          <ion-chip class="music-chips" [outline]="true" *ngIf="userDetails?.preferences?.trad">
            <ion-label>Trad</ion-label>
          </ion-chip>
          <ion-chip class="music-chips" [outline]="true" *ngIf="userDetails?.preferences?.pop">
            <ion-label>Pop</ion-label>
          </ion-chip>
          <ion-chip class="music-chips" [outline]="true" *ngIf="userDetails?.preferences?.techno">
            <ion-label>Techno</ion-label>
          </ion-chip>
          <ion-chip class="music-chips" [outline]="true" *ngIf="userDetails?.preferences?.house">
            <ion-label>House</ion-label>
          </ion-chip>
          <ion-chip class="music-chips" [outline]="true" *ngIf="userDetails?.preferences?.indie">
            <ion-label>Indie</ion-label>
          </ion-chip>
          <ion-chip class="music-chips" [outline]="true" *ngIf="userDetails?.preferences?.rock">
            <ion-label>Rock</ion-label>
          </ion-chip>
          <ion-chip class="music-chips" [outline]="true" *ngIf="userDetails?.preferences?.rAndB">
            <ion-label>R&B</ion-label>
          </ion-chip>
          <ion-chip class="music-chips" [outline]="true" *ngIf="userDetails?.preferences?.hipHop">
            <ion-label>Hip Hop</ion-label>
          </ion-chip>
          <ion-chip class="music-chips" [outline]="true" *ngIf="userDetails?.preferences?.reggaeton">
            <ion-label>Reggaeton</ion-label>
          </ion-chip>
          <ion-chip class="music-chips" [outline]="true" *ngIf="userDetails?.preferences?.jazz">
            <ion-label>Jazz</ion-label>
          </ion-chip>
  
          <ion-chip class="atmosphere-chips" [outline]="true" *ngIf="userDetails?.preferences?.energetic">
            <ion-label>Energetic</ion-label>
          </ion-chip>
          <ion-chip class="atmosphere-chips" [outline]="true" *ngIf="userDetails?.preferences?.cosy">
            <ion-label>Cosy</ion-label>
          </ion-chip>
          <ion-chip class="atmosphere-chips" [outline]="true" *ngIf="userDetails?.preferences?.alternative">
            <ion-label>Alternative</ion-label>
          </ion-chip>
          <ion-chip class="atmosphere-chips" [outline]="true" *ngIf="userDetails?.preferences?.relaxed">
            <ion-label>Relaxed</ion-label>
          </ion-chip>
          <ion-chip class="atmosphere-chips" [outline]="true" *ngIf="userDetails?.preferences?.traditional">
            <ion-label>Traditional</ion-label>
          </ion-chip>
          <ion-chip class="atmosphere-chips" [outline]="true" *ngIf="userDetails?.preferences?.fancy">
            <ion-label>Fancy</ion-label>
          </ion-chip>
          <ion-chip class="atmosphere-chips" [outline]="true" *ngIf="userDetails?.preferences?.casual">
            <ion-label>Casual</ion-label>
          </ion-chip>
          <ion-chip class="atmosphere-chips" [outline]="true" *ngIf="userDetails?.preferences?.lgbtq">
            <ion-label>LGBTQ+</ion-label>
          </ion-chip>
          <ion-chip class="atmosphere-chips" [outline]="true" *ngIf="userDetails?.preferences?.loud">
            <ion-label>Loud</ion-label>
          </ion-chip>
  
          <ion-chip class="amenities-chips" [outline]="true" *ngIf="userDetails?.preferences?.outdoorSeats">
            <ion-label>Outdoor Seats</ion-label>
          </ion-chip>
          <ion-chip class="amenities-chips" [outline]="true" *ngIf="userDetails?.preferences?.accessible">
            <ion-label>Accessible</ion-label>
          </ion-chip>
          <ion-chip class="amenities-chips" [outline]="true" *ngIf="userDetails?.preferences?.cloakRoom">
            <ion-label>Cloak Room</ion-label>
          </ion-chip>
          <ion-chip class="amenities-chips" [outline]="true" *ngIf="userDetails?.preferences?.smokingArea">
            <ion-label>Smoking Area</ion-label>
          </ion-chip>
          <ion-chip class="amenities-chips" [outline]="true" *ngIf="userDetails?.preferences?.beerGarden">
            <ion-label>Beer Garden</ion-label>
          </ion-chip>
          <ion-chip class="amenities-chips" [outline]="true" *ngIf="userDetails?.preferences?.danceFloor">
            <ion-label>Dance Floor</ion-label>
          </ion-chip>
  
          <ion-chip class="entertainment-chips" [outline]="true" *ngIf="userDetails?.preferences?.festival">
            <ion-label>Festival</ion-label>
          </ion-chip>
          <ion-chip class="entertainment-chips" [outline]="true" *ngIf="userDetails?.preferences?.openMic">
            <ion-label>Open Mic</ion-label>
          </ion-chip>
          <ion-chip class="entertainment-chips" [outline]="true" *ngIf="userDetails?.preferences?.pubQuiz">
            <ion-label>Pub Quiz</ion-label>
          </ion-chip>
          <ion-chip class="entertainment-chips" [outline]="true" *ngIf="userDetails?.preferences?.rave">
            <ion-label>Rave</ion-label>
          </ion-chip>
          <ion-chip class="entertainment-chips" [outline]="true" *ngIf="userDetails?.preferences?.liveGig">
            <ion-label>Live Gig</ion-label>
          </ion-chip>
          <ion-chip class="entertainment-chips" [outline]="true" *ngIf="userDetails?.preferences?.dj">
            <ion-label>DJ</ion-label>
          </ion-chip>
          <ion-chip class="entertainment-chips" [outline]="true" *ngIf="userDetails?.preferences?.karaoke">
            <ion-label>Karaoke</ion-label>
          </ion-chip>
          <ion-chip class="entertainment-chips" [outline]="true" *ngIf="userDetails?.preferences?.comedy">
            <ion-label>Comedy</ion-label>
          </ion-chip>
          <ion-chip class="entertainment-chips" [outline]="true" *ngIf="userDetails?.preferences?.sports">
            <ion-label>Sports</ion-label>
          </ion-chip>
          <ion-chip class="entertainment-chips" [outline]="true" *ngIf="userDetails?.preferences?.specialisedEvents">
            <ion-label>Specialised Events</ion-label>
          </ion-chip>
          <ion-chip class="entertainment-chips" [outline]="true" *ngIf="userDetails?.preferences?.games">
            <ion-label>Games</ion-label>
          </ion-chip>
          <ion-icon name="create-outline" class="edit-icon" (click)="openEditModal()"></ion-icon>
        </div>
      </div>
    </div>

    <ion-segment class="segment" [(ngModel)]="selectedSegment" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="saved">
          <ion-icon [name]="selectedSegment === 'saved' ? 'bookmark' : 'bookmark-outline'"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="friends">
          <ion-icon [name]="selectedSegment === 'friends' ? 'people' : 'people-outline'"></ion-icon>
      </ion-segment-button>
  </ion-segment>
  

    <ng-container *ngIf="selectedSegment === 'saved'">
      <ng-container *ngIf="savedVenues.length > 0; else noSavedVenues">
        <!-- Create a grid for the venues -->
        <div class="venue-grid">
          <div class="venue-item" *ngFor="let venue of savedVenues" (click)="openVenueDetailsPage(venue)">
            <img [src]="venue.imageURL" alt="{{ venue.name }}" class="venue-image" />
            <h3 class="venue-name">{{ venue.name }}</h3>
          </div>
        </div>
      </ng-container>
    </ng-container>

  <ng-template class="no-saved" #noSavedVenues>
    <ion-list>
      <ion-item>
        <ion-label>
          <h2>No Saved Venues</h2>
          <p>Find and save your venues for quick access later!</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ng-template>

  
  <ng-container *ngIf="selectedSegment === 'friends'">
    <ion-list *ngIf="friendsList && friendsList.length > 0; else noFriends">
      <ion-item *ngFor="let friend of friendsList">
        <ion-avatar slot="start">
          <img [src]="friend.imageURL || 'https://ionicframework.com/docs/img/demos/avatar.svg'" />
        </ion-avatar>
        <ion-label>{{ friend.firstName }} {{ friend.lastName }}</ion-label>
      </ion-item>
    </ion-list>
  
    <ng-template #noFriends>
      <ion-list>
        <ion-item>
          <ion-label>
            <h2>No Friends</h2>
            <p>You have no friends yet. Accept some requests to connect!</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ng-template>
  </ng-container>
  
    
