<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Enter Your Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Enter Your Details</ion-title>
    </ion-toolbar>
  </ion-header>

    <ion-input label="firstName" [ngModel]="user.firstName"></ion-input>
    <ion-input label="lastName" [ngModel]="user.lastName"></ion-input>
    <ion-input label="userName" [ngModel]="user.userName"></ion-input>

    <ion-button (click)="updateUser()">Submit</ion-button>


</ion-content>
